@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
:root{}

body{
    background-image: url("images/bg-desktop.svg");
    background-color:hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    background-attachment: fixed;
}

.main-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.display{
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.mockup{
    width: 110%;
}

.paragraph{
    color: white;
    font-family: "Open Sans", sans-serif;
    max-width:500px;
    text-align:start;
}

.heading{
    color: white;
    font-family: "Poppins", sans-serif ;
    max-width: 500px;
    text-align: start;
}

.register{
    color: hsl(257, 40%, 49%);
    background-color: white ;
    border: none ;
    border-radius: 20px;
    padding: 12px;
    width: 150px;
    cursor: pointer;
    font-size: 17px;
}

.register:hover,.register:focus-visible{
    color: white;
    background-color: hsl(300, 69%, 71%);
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
    padding: 0;
}

.social-list {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 0.5rem;
}

.social-icon {
    fill: #fff;
    display: flex;
    border: 1.6px solid #ddd;
    border-radius: 16px;
    padding: 5px;
    width: 1rem;
    height: 1rem;
}

.social-list a:is(:hover, :focus) .social-icon {
    fill:  hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%) ;
}

@media (max-width: 480px ) {
    body{
        background-image: url("images/bg-mobile.svg");
        background-position: center;
        background-size: contain;
    }

    .main-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .display {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .heading,.paragraph{
        text-align: center;
    }

    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mockup{
        width: 90%;
        margin: auto;
    }

    .social-list {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}

@media (max-width: 1200px) {
      body{
        background-image: url("images/bg-mobile.svg");
        background-position: center;
        background-size: contain;
    }
    .main-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
      .display {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
      .mockup{
        width: 100%;
        margin: auto;
    }
        .heading,.paragraph{
        text-align: center;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
     .social-list {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}
